---
import Layout from '../layouts/Layout.astro';
---

<Layout>

    <div class="grid grid-cols-1 grid-rows-1 gap-x-4 gap-y-4 w-[97%] mx-auto">

        <div class="col-start-1 col-end-1 row-start-1 row-end-1">
            <section class=" bg-[#202020] rounded-xl p-6 mb-6">
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia magni vitae, aperiam veritatis nulla in eaque, accusamus quas architecto libero, necessitatibus sapiente nostrum qui tempora quos quod ratione corrupti nihil!
                </p>
            </section>
            
        </div>  

    </div>
</Layout>