---
import { Disclosure, DisclosureButton, DisclosurePanel, Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/react'
import { Bars3Icon, BellIcon, XMarkIcon } from '@heroicons/react/24/outline'

import * as osu from 'osu-api-v2-js'

import "../styles/global.css"


interface Props {
  user: string;
}

let href = '';

if (!Astro.cookies.has('osuturkiye-token')) {
  href = '/login';
  href = osu.generateAuthorizationURL();
} else {
  href = '/profile';
}

---
<div class='sticky top-0 w-[97%] text-white rounded-xl px-6 py-4 mx-auto my-5 bg-gradient-to-r from-[#202020] to-[#3d0101]'>
  <div class='flex justify-between items-center w-full px-4 rounded-2xl'>

    <div class="flex items-center space-x-12">
      {/* Left side - Logo  */}
      <a href="/" class='text-xl font-bold text-white hover:text-red-400 transition-colors'>
        osu!türkiye
      </a>

      {/* Left side - Navigation */}
      <ul class="flex items-center space-x-8">
        <li>
          <a href='/' class='text-sm font-medium hover:text-red-600 transition-colors text-white'>
            Ana Sayfa
          </a>
        </li>
        
        <li>
          <a href={href} class='text-sm font-medium hover:text-red-600 transition-colors text-white'>
            Hakkımızda
          </a>
        </li>
      </ul>
    </div>

    {/* Right side - Login Button */}
    <div>
      <a href={href} class='text-sm font-medium hover:text-red-600 transition-colors text-white tracking-wide'>
        Giriş Yap
      </a>
    </div>

  </div>
</div>